<template>
  <div class="main">
    <h1 class="main__heading" id="anchor">{{isSelected[0]['title']}}</h1>
  <form method="none" class="form">
      <label for="name" class="form__label">Имя</label>
      <input class="form__input" v-model="name" id="name" type="text" placeholder="Пометун Вадим Андреевич">
      <label for="service" class="form__label">Процедура</label>
      <select name="" id="service" class="form__input">
        <option v-for="service in isSelected" selected :key="service.index" value="service['link']">
          {{ service.title }}
        </option>
        <option v-for="service in isNotSelected" :key="service.index" value="service['link']">
          {{ service.title }}
        </option>
      </select>
      <label for="phone" class="form__label">Телефон</label>
      <input type="tel" class="form__input" id="phone" placeholder="8 (800)-555-35-35">
      <label for="date" class="form__label">Дата</label>
      <input type="date" class="form__input" id="date">
      <router-link  to="/records" class="">
        <v-btn class="form__button" elevation="4">Записаться</v-btn>
      </router-link>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: [],
    }
  },
  async mounted() {
    const response = await fetch('/main.json')
    const json = await response.json()
    this.data = json
  },
  computed: {
    isSelected() {
      return this.data.filter(service => {
        return (
          // service.title.toLowerCase().includes(this.search.toLowerCase()) && (service.tag === this.select.value || this.select.value == "ALL")
          service["link"]==this.$route.params.service
        )
      })
    },
    isNotSelected() {
        return this.data.filter(service => {
        return (
          service["link"]!=this.$route.params.service
        )
      })
    }
  },
  methods: {
    storeComment: function() {
      this.comments.push({name: this.name, message: this.message});
      this.name = ''
      this.message = ''
    }
  }
}
</script>

<style scoped>
  .form__input {
    background: white;
    padding: 5px;
    border: 2px black solid;
  }

  .main__heading {
    margin-top: 200px;
    margin-bottom: 0px;
  }

  .form {
    margin-bottom: 290px;
  }

  .form__button {
    width: 40%;
    margin: 20px auto;
    height: 80px;
  }

  .form__button:hover {
    color: black;
  }

  .form__label {
    margin-top: 20px;
  }
</style>