<template>
  <div class="main">
    <h1 class="main__heading" id="anchor">Процедуры</h1>
    <div class="main__filtration filtration">
      <div class="filtration__pair">
        <p class="filtration__heading">Найти процедуру</p>
        <v-text-field v-model="search" label="Поиск"></v-text-field>
      </div>
      <div class="filtration__pair">
        <p class="filtration__heading">Область процедуры</p>
        <v-select
          v-model="select"  
          :items="items"
          item-text="name"
          persistent-hint
          item-value="value"
          return-object
          ></v-select>
      </div>
    </div>
    <ul class="main__cards">
      <li v-for="service in searchingService" :key="service.index" class="main__card card">
        <img :src="service.image" alt="Изображение услуги" class="card__image">
        <div class="card__text-wrapper">
          <div>
          <h2 class="card__title">{{service.title}}</h2>
          <p class="card__text">{{service.text}}</p>
          </div>
          <router-link :to="'/form/'+service.link" class="card__link">Записаться</router-link>
        </div>
      </li>
    </ul>
    <h2 class="comments__heading">Отзывы</h2>
    <ul class="main__comments comments">
      <li class="comments__comment">
        <div class="comments__pair">
          <v-avatar size="90">
            <img src="images/avatar.jpg">
          </v-avatar>
          <p class="comments__name">Светлана</p>
        </div>
        <img src="images/rating.png" alt="Фото пользователя" class="comments__rating">
        <p class="comments__text">Сходила на наращивание ресниц, всё очень круто, мастер явный профессионал!</p>
      </li>
      <li class="comments__comment">
        <div class="comments__pair">
          <v-avatar size="90">
            <img src="images/avatar.jpg">
          </v-avatar>
          <p class="comments__name">Валерия</p>
        </div>
        <img src="images/rating.png" alt="Фото пользователя" class="comments__rating">
        <p class="comments__text">Фен загорелся прямо в руках у парикмахера и сжёг половину моей прически, но скорую вызвали очень быстро и кофе здесь вкусный, поэтому впечатления скорее положительные.</p>
      </li>
      <li class="comments__comment">
        <div class="comments__pair">
          <v-avatar size="90">
            <img src="images/avatar.jpg">
          </v-avatar>
          <p class="comments__name">Марина</p>
        </div>
        <img src="images/rating.png" alt="Фото пользователя" class="comments__rating">
        <p class="comments__text">Приходили с дочкой готовить её к выпускному, она была самой самой красавицей на выпускном вечере, мальчики глаз отвести не могли, спасибо вам!!!</p>
      </li>
    </ul>
    

    <form class="form">
      <label for="name" class="form__label">Имя</label>
      <input class="form__input" v-model="name" id="name" type="text">
      <label for="comment" class="form__label">Комментарий</label>
      <textarea class="form__input" v-model="message" id="comment" type="text"></textarea>
      <button type="button" v-on:click="storeComment" class="form__button">Отправить комментарий</button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: '',
      message: '',
      comments: [{name: "Наталья", message: "Новый комментарий"},],
      data: [],
      items: [{name: 'Показать всё', value: 'ALL'}, {name: 'Глаза', value: 'Eye'}, {name: 'Лицо', value: 'Face'}, {name: 'Кожа', value: 'Skin'}, {name: 'Волосы', value: 'Hair'},],
      search: '',
      select: {name: 'Показать всё', value: 'ALL'},
    }
  },
  async mounted() {
    const response = await fetch('/main.json')
    const json = await response.json()
    this.data = json
  },
  computed: {
    searchingService() {
      return this.data.filter(service => {
        return (
          service.title.toLowerCase().includes(this.search.toLowerCase()) && (service.tag === this.select.value || this.select.value == "ALL")
        )
      })
    },
  },
  methods: {
    storeComment: function() {
      this.comments.push({name: this.name, message: this.message});
      this.name = ''
      this.message = ''
    }
  }
}
</script>

<style scoped>
  .card__link {
    color: black;
  }

  .card__link:hover {
    color: white;
  }

  @media (max-width: 1000px) {
    .filtration {
      flex-direction: column;
    }

    .filtration__pair {
      width: 100%;
    }

    .form {
      width: 80%;
    }
  }
</style>