<template>
<v-app>
  <nav class="header__navigation navigation">
    <p class="navigation__logo">LOGO</p>
    <router-link  to="/" class="navigation__link">Home</router-link>
    <router-link to="/records" class="navigation__link">Мои записи</router-link>
    <div class="navigation__pair">
      <img src="images/icon.png" alt="Иконка" class="navigation__icon">
      <router-link to="/" class="navigation__link navigation__link--account">Пометун Вадим</router-link>
    </div>
  </nav>
  <section class="records">
  <v-data-table
    :headers="headers"
    :items="data"
    sort-by="name"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Мои записи</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="3"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.name"
                      label="Имя"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="3"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.service"
                      label="Услуга"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="3"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.date"
                      label="Дата"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Отмена
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Сохранить
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Отмена</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">Удалить</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn
        color="primary"
        @click="initialize"
      >
        Reset
      </v-btn>
    </template>
  </v-data-table>
  </section>
</v-app>
</template>
<script>
  export default {
    data: () => ({
      dialog: false,
      dialogDelete: false,
      headers: [
        {
          text: 'Имя',
          align: 'start',
          value: 'name',
        },
        { text: 'Услуга', value: 'service' },
        { text: 'Дата', value: 'date' },
        { text: 'Изменить запись', value: 'actions', sortable: false, class: "hidden-th" },
      ],
      data: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        service: '',
        date: '',
      },
      defaultItem: {
        name: '',
        service: '',
        date: '', 
      },
    }),

    async mounted() {
    const response = await fetch('/records.json')
    const json = await response.json()
    this.data = json
    },

    methods: { 

      editItem (item) {
        this.editedIndex = this.data.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.data.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.data.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.data[this.editedIndex], this.editedItem)
        } else {
          this.data.push(this.editedItem)
        }
        this.close()
      },
    },
  }
</script>
<style>
  @import '@/assets/styles/style.css';
</style>

<style scoped>
  .navigation {
    width: 40%;
  }

@media (max-width: 1100px) {
    .navigation {
      width: 80%;
    }
  }

  @media (max-width: 600px) {
    .navigation {
      flex-direction: column;
          margin-bottom: 40px;
      font-size: 2rem;
      width: 100%;
    }
  }

  @media print {
    .navigation {
      display: none;
    }

    .v-data-table {
      margin-top: 0;
    }

    .v-footer {
      display: none;
    }

    .v-icon {
      display: hidden;
    }

    tr {
      page-break-inside:avoid;
      page-break-after:auto;
    }
  }
</style>
