<template>
  <v-app>
    
    <div class="header" v-if="$route.path!='/records'">
      <v-carousel hide-delimiters class="header__image">
        <v-carousel-item
          v-for="(item,i) in items"
          :key="i"
          :src="item.src"
        ></v-carousel-item>
      </v-carousel>
      <div class="header__promo">
        <nav class="header__navigation navigation">
          <p class="navigation__logo">LOGO</p>
          <router-link  to="/" class="navigation__link">Home</router-link>
          <router-link to="/records" class="navigation__link">Мои записи</router-link>
          <div class="navigation__pair">
            <img src="images/icon.png" alt="Иконка" class="navigation__icon">
            <router-link to="/" class="navigation__link navigation__link--account">Пометун Вадим</router-link>
          </div>
          <a class="navigation__link" href="/main.json" target="_blank">1</a>
          <a class="navigation__link" href="/records.json" target="_blank">2</a>
          <a class="navigation__link" href="https://gitlab.com/GeoNinka/pometun-client-exam" target="_blank">GIT</a>
        </nav>
        <p class="header__text" v-if="$route.path=='/'">
          Подобрать правильный уход за кожей очень важно. Благодаря правильно подобранным процедурам и косметике кожа станет здоровой и красивой. Современные методики, применяемые в студии, позволяют подарить молодость без операций, восстановив необходимый витаминно-минеральный баланс.
        </p>
        <p class="header__text" v-else>
          Наши специалисты всегда будут рады видеть вас в нашем салоне красоты. Мы выбираем индивидуальный подход к каждому нашему клиенту, поэтому перед посещением наших специалистов мы просим вас оставить заявку на звонок или позвонить, чтобы обсудить все детали и нюансы.
        </p>
        <a href="#anchor" class="header__link" v-if="$route.path=='/'">Подробнее</a>
        <a href="#anchor" class="header__link" v-else>Записаться</a>
      </div>
    </div>
    <router-view/>
    <v-footer
    dark
    padless
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-title class="py-2">
        <strong class="subheading">Ищите нас в социальных сетях!</strong>

        <v-spacer></v-spacer>

        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-4"
          dark
          icon
        >
          <v-icon size="24px">
            {{ icon }}
          </v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text class="py-2 white--text text-center">
        {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
      </v-card-text>
    </v-card>
  </v-footer>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          {
            src: 'images/promo.png',
          },
          {
            src: 'images/form.webp',
          },
          {
            src: 'images/8.jpg',
          },
          {
            src: 'images/3.jpg',
          },
        ],
        icons: [
        'mdi-facebook',
        'mdi-twitter',
        'mdi-instagram',
      ],
      }
    },
  }
</script>
<style>
  @import '@/assets/styles/style.css';
</style>

<style scoped>
  .navigation__link {
    color: black;
  }

  .navigation__link:hover {
    color: rgb(255, 116, 139);
  }


  .header__link {
    transition: 0.5s;
    color: black;
  }

  .header__link:hover {
    transition: 0.5s;
    color: white;
  }

  @media (max-width: 1100px) {
    .header__image {
      display: none;
    }

    .header__promo {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 40px;
    }
  }

  @media (max-width: 600px) {
    .navigation {
      flex-direction: column;
          margin-bottom: 40px;
      font-size: 2rem;
    }
  }

  @media print {
    .v-footer {
      display: none;
    }
  }
</style>
