html {
    font-family: Inter;
    scroll-behavior: smooth;
}

body {
    
    margin: 0;
}

.navigation__icon {
    width: 25px;
}

.navigation__logo {
    font-size: 2rem;
    color: rgb(255, 116, 139);
}

.navigation__link {
    color: black;

    &--account {
        margin-left: 10px;
    }
}

.navigation__pair {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
}

.header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.header__text {
    font-size: 1.5rem;
    width: 80%;
    margin-left: 10%;
    margin-top: 70px;
}


.header__link {
    margin-left: 10%;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 5px;
    transition: 0.5s;

    &:hover {
        color: white;
        background-color: rgb(255, 116, 139);
        border-color: rgb(255, 116, 139);
    }
}

.header__image {
    width: 50%;
}

.header__promo {
    width: 50%;
}

@media (max-width: 1670px) {
    .header__text {
        margin-top: 40px;
    }
}

@media (max-width: 1412px) {
    .header__text {
        margin-top: 0px;
    }
}