.main__heading {
    font-size: 3rem;
    margin: 40px auto;
    text-align: center;
    
}

.main {
    background-image: url(../../../public/images/pattern2.png);

    background-repeat: repeat;
}

.main__cards {
    width: 80%;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 4%;
    row-gap: 20px;
}

.card__title {
    margin-bottom: 0px;
}

.main__card {
    background-color: white;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 40px;
}

.card__image {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    object-fit: cover;
}

.card__text-wrapper {
    width: 90%;
    height: 230px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: stretch;
}

.card__link {
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px;
    bottom: 0;
    transition: 0.5s;

    &:hover {
        color: white;
        background-color: rgb(255, 116, 139);
        border-color: rgb(255, 116, 139);
    }
}

.filtration {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 50%;
    justify-content: space-around;
}

.filtration__pair {
    width: 40%;
}

.filtration__input {
    border-bottom: 2px black solid;
    border: 1px black solid;
}

.comments__heading {
    margin-top: 100px;
    text-align: center;
    font-size: 3rem;
}

.main__comments {
    width: 80%;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 4%;
    row-gap: 20px;
}

.comments__comment {
    background-color: white;
    border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.comments__avatar {
    width: 100px;
}

.comments__rating {
    width: 200px;
}

.comments__name {
    font-size: 1.2rem;
}

.comments__pair {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.comments__text {
    margin-left: 9px;
}

.form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 30%;
}

.form__input {
    background-color: white;
    border: 2px solid rgb(120, 120, 120);
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
}

textarea {
    height: 200px;
}

.form__button {
    transition: 0.5s;
    margin-top: 20px;
    padding: 20px;
    font-size: 1.5rem;
    background-color: white;

    &:hover {
        color: white;
        background-color: rgb(255, 116, 139);
    }
}