html {
  font-family: Inter;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.navigation__icon {
  width: 25px;
}

.navigation__logo {
  font-size: 2rem;
  color: rgb(255, 116, 139);
}

.navigation__link {
  color: black;
}
.navigation__link--account {
  margin-left: 10px;
}

.navigation__pair {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
}

.header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.header__text {
  font-size: 1.5rem;
  width: 80%;
  margin-left: 10%;
  margin-top: 70px;
}

.header__link {
  margin-left: 10%;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 5px;
  transition: 0.5s;
}
.header__link:hover {
  color: white;
  background-color: rgb(255, 116, 139);
  border-color: rgb(255, 116, 139);
}

.header__image {
  width: 50%;
}

.header__promo {
  width: 50%;
}

@media (max-width: 1670px) {
  .header__text {
    margin-top: 40px;
  }
}
@media (max-width: 1412px) {
  .header__text {
    margin-top: 0px;
  }
}
/* inter-100 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/inter-v12-latin_cyrillic-100.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-100.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-100.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-100.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-100.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-100.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-200 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/inter-v12-latin_cyrillic-200.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-200.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-200.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-200.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-200.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-200.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-300 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v12-latin_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-300.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-300.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-regular - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-regular.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-regular.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-500 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v12-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-500.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-500.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-600 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin_cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-600.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-600.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-700 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v12-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-700.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-700.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-800 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-v12-latin_cyrillic-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-800.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-800.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-800.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-800.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-900 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-v12-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-900.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-900.svg#Inter") format("svg"); /* Legacy iOS */
}
/* manrope-200 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/manrope-v13-latin_cyrillic-200.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-200.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope-v13-latin_cyrillic-200.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-200.woff") format("woff"), url("../fonts/manrope-v13-latin_cyrillic-200.ttf") format("truetype"), url("../fonts/manrope-v13-latin_cyrillic-200.svg#Manrope") format("svg"); /* Legacy iOS */
}
/* manrope-300 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/manrope-v13-latin_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope-v13-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-300.woff") format("woff"), url("../fonts/manrope-v13-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/manrope-v13-latin_cyrillic-300.svg#Manrope") format("svg"); /* Legacy iOS */
}
/* manrope-regular - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/manrope-v13-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope-v13-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-regular.woff") format("woff"), url("../fonts/manrope-v13-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/manrope-v13-latin_cyrillic-regular.svg#Manrope") format("svg"); /* Legacy iOS */
}
/* manrope-500 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/manrope-v13-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope-v13-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-500.woff") format("woff"), url("../fonts/manrope-v13-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/manrope-v13-latin_cyrillic-500.svg#Manrope") format("svg"); /* Legacy iOS */
}
/* manrope-600 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/manrope-v13-latin_cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope-v13-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-600.woff") format("woff"), url("../fonts/manrope-v13-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/manrope-v13-latin_cyrillic-600.svg#Manrope") format("svg"); /* Legacy iOS */
}
/* manrope-700 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/manrope-v13-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope-v13-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-700.woff") format("woff"), url("../fonts/manrope-v13-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/manrope-v13-latin_cyrillic-700.svg#Manrope") format("svg"); /* Legacy iOS */
}
/* manrope-800 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/manrope-v13-latin_cyrillic-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-800.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope-v13-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-800.woff") format("woff"), url("../fonts/manrope-v13-latin_cyrillic-800.ttf") format("truetype"), url("../fonts/manrope-v13-latin_cyrillic-800.svg#Manrope") format("svg"); /* Legacy iOS */
}
.main__heading {
  font-size: 3rem;
  margin: 40px auto;
  text-align: center;
}

.main {
  background-image: url(../../../public/images/pattern2.png);
  background-repeat: repeat;
}

.main__cards {
  width: 80%;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 4%;
  row-gap: 20px;
}

.card__title {
  margin-bottom: 0px;
}

.main__card {
  background-color: white;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 20px 20px 20px 20px;
  padding-bottom: 40px;
}

.card__image {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  object-fit: cover;
}

.card__text-wrapper {
  width: 90%;
  height: 230px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: stretch;
}

.card__link {
  text-align: center;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 10px;
  bottom: 0;
  transition: 0.5s;
}
.card__link:hover {
  color: white;
  background-color: rgb(255, 116, 139);
  border-color: rgb(255, 116, 139);
}

.filtration {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 50%;
  justify-content: space-around;
}

.filtration__pair {
  width: 40%;
}

.filtration__input {
  border-bottom: 2px black solid;
  border: 1px black solid;
}

.comments__heading {
  margin-top: 100px;
  text-align: center;
  font-size: 3rem;
}

.main__comments {
  width: 80%;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 4%;
  row-gap: 20px;
}

.comments__comment {
  background-color: white;
  border: 1px solid black;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.comments__avatar {
  width: 100px;
}

.comments__rating {
  width: 200px;
}

.comments__name {
  font-size: 1.2rem;
}

.comments__pair {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.comments__text {
  margin-left: 9px;
}

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 30%;
}

.form__input {
  background-color: white;
  border: 2px solid rgb(120, 120, 120);
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
}

textarea {
  height: 200px;
}

.form__button {
  transition: 0.5s;
  margin-top: 20px;
  padding: 20px;
  font-size: 1.5rem;
  background-color: white;
}
.form__button:hover {
  color: white;
  background-color: rgb(255, 116, 139);
}

.records {
  background-image: url(../../../public/images/pattern2.png);
  background-repeat: repeat;
  min-height: 1000px;
}

.v-data-table {
  width: 80%;
  margin: 150px auto;
}/*# sourceMappingURL=style.css.map */